<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['parent-child']" [routerLinkActive]="'is-active'">Parent/Child</a>
      </li>
      <li>
        <a [routerLink]="['form']" [routerLinkActive]="'is-active'">Form</a>
      </li>
      <li>
        <a [routerLink]="['dynamic-comps']" [routerLinkActive]="'is-active'">Dynamic comps</a>
      </li>
      <li>
        <a [routerLink]="['directives']" [routerLinkActive]="'is-active'">Directives</a>
      </li>
    </ul>
  </nav>
</header>
