nav {
  margin: 20px 0;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        color: grey;

        &.is-active {
          color: black;
        }
      }

    }
  }
}


