:host {
  height: 100%;
  display: block;
}

::ng-deep {
  button {
    border: none;
    padding: 8px;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 14px;

    &:hover {
      background-color: #c3c3c3;
    }
  }
}

//::ng-deep {
//  field {
//    margin: 10px 0
//  }
//}
